//* HOMEPAGE *//

body {
    background-image: url("../img/bg_body.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'B612', sans-serif;
}

nav {
    position: relative;
    position: sticky;
}

.jumbotron {
    background-image: url("../img/bg_jumbotron.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 12rem;
    width: 100%;
    margin-bottom: 1px;
    .text {
        background-color: rgba(0, 0, 0, 0.753);
        border: 3px solid whitesmoke;
        border-radius: 10% / 90%;
        color: whitesmoke;
        padding: 0.5rem;
    }
}

.suggestion {
    background-color: rgba(0, 0, 0, 0.829);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height:  8rem;
    color: whitesmoke;
    button {
        height: 5rem;
    }
    h4 {
        margin-top: 2rem;
    }
    img {
        height: 100%;
        width: 100%;
        margin-bottom: 3rem;
        border: 3px solid whitesmoke;
    }
}

.events {
    background-color: rgba(0, 0, 0, 0.829);
    color: whitesmoke;
    padding: 5px;
    .event_text {
        text-align: justify;
        padding: 20px;
    }
    h5 {
        padding: 2rem 2rem 2rem 0rem;
    }
    img {
        border: 3px solid whitesmoke;
        margin: 10px;
    }
}

.social {
    background-color: rgba(0, 0, 0, 0.829);
    color: whitesmoke;
    line-height:  7rem;
    .fa-tripadvisor {
        font-size: 40px;
        width: 60px !important;
    }
    .fa-facebook-official {
        font-size: 40px;
        width: 60px !important;
    }
    .fa-twitter-square {
        font-size: 40px;
        width: 60px !important;
    }
    .fa-instagram {
        font-size: 40px;
        width: 60px !important;
    }
}

.copyright {
    background-color: rgba(0, 0, 0, 0.829);
    color: whitesmoke;
    line-height:  2.5rem;
    width: 100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    margin-top: 2rem;
}

.row {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 10px;
}
//* RESTAURANT PAGE *//

.aboutus {
    background-color: rgba(0, 0, 0, 0.829);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
    .d-block {
        height: 350px;
    }
    button {
        height: 5rem;
    }
    h4 {
        padding-top: 1rem;
    }
    h6 {
        text-decoration: underline;
    }
    img {
        height: 100%;
        width: 100%;
        margin-bottom: 3rem;
        border: 3px solid whitesmoke;
    }
    .text {
        text-align: justify;
        padding: 2rem;
    }
}

table {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: white 3px solid;
    th {
        border: white 2px solid;
        background-color: rgba(255, 228, 196, 0.705);
    }
    tr, td {
        border: white 1px solid;
    }
    th, td {
        padding: 15px;
    }
    .days {
        background-color: rgba(128, 128, 128, 0.884);
    }
}

.map {
    background-color: rgba(0, 0, 0, 0.829);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    text-align: center;
    h4 {
        padding-top: 1rem;
        margin: 1rem;
        text-align: center;
    }
    .container {
        margin-bottom: 2rem;
    }
}

//* MENU PAGE *//

.menu {
    background-color: rgba(0, 0, 0, 0.829);
    color: whitesmoke;
    padding: 5px;
    .menu_text {
        text-align: justify;
        padding: 10px;
        color: white;
    }
    h4 {
        padding: 1rem;
        text-align: center;
        color:blue;
    }
    h6 {
        text-align: center;
        color:black;
        padding: 10px;
    }
    span {
        color:white;
    }
    .allergene {
        color: blue;
        text-decoration: underline;
    }
    img {
        height:110%;
        width: 90%;
        border: 3px solid whitesmoke;
        margin: 10px;
    }
    ul {
        margin: 10px;
    }
    li {
        color: black;
    }
}

//* GALLERIE *//

.gallerie {
    background-color: rgba(0, 0, 0, 0.829);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    height: 680px;
    h4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    img {
        border: 2px solid whitesmoke;
        margin-bottom: 1rem;
    }
}

.pictures {
    img {
        margin: 2rem;
        border: 1px solid black;
    }
    background-color: rgba(255, 255, 255, 0.507);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

.d-block {
    margin-bottom: 1rem;
}
.pagination{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

//* Contact *//

.contact {
    background-color: rgba(0, 0, 0, 0.829);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    h4 {
        padding-top: 1rem;
    }
    h6 {
        text-decoration: underline;
    }
    img {
        height: 100%;
        width: 100%;
        margin-bottom: 3rem;
        border: 3px solid whitesmoke;
    }
    .text {
        text-align: justify;
    }
    button {
        width: 7rem;
        padding: 1rem;
        margin: 1rem;
    }
    label {
        padding-top: 15px;
        padding-bottom: 10px;
    }
}
i {
    color: rgba(255, 255, 255, 0.445);
}

i:hover {
    color: rgba(255, 255, 255, 0.993);
}