//* HOMEPAGE *//

body {
    background-image: url("https://images.unsplash.com/photo-1454903466480-22a7762b0c50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    position: relative;
    position: sticky;
}
.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1454903466480-22a7762b0c50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 12rem;
    width: 100%;
    margin-bottom: 1px;
    .text {
        background-color: rgba(0, 0, 0, 0.829);
        border: 3px solid whitesmoke;
        border-radius: 10% / 15%;
        color: whitesmoke;
        padding: 1rem;
    }
}
.suggestion {
    background-color: rgba(0, 0, 0, 0.829);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height:  8rem;
    color: whitesmoke;
    button {
        height: 5rem;
    }
    h4 {
        padding-top: 1rem;
    }
    img {
        height: 100%;
        width: 100%;
        margin-bottom: 3rem;
        border: 3px solid whitesmoke;
    }
}
.events {
    background-color: rgba(0, 0, 0, 0.829);
    color: whitesmoke;
    padding: 5px;
    .event_text {
        text-align: justify;
        padding: 10px;
    }
    img {
        height:110%;
        width: 90%;
        border: 3px solid whitesmoke;
        margin: 10px;
    }
}
.social {
    background-color: rgba(0, 0, 0, 0.829);
    color: whitesmoke;
    line-height:  7rem;
    .fa-tripadvisor {
        font-size: 40px;
        width: 60px !important;
    }
    .fa-facebook-official {
        font-size: 40px;
        width: 60px !important;
    }
    .fa-twitter-square {
        font-size: 40px;
        width: 60px !important;
    }
    .fa-instagram {
        font-size: 40px;
        width: 60px !important;
    }
}
.copyright {
    background-color: rgba(0, 0, 0, 0.829);
    color: whitesmoke;
    line-height:  2.5rem;
    width: 100%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    margin-top: 2rem;
}

//* RESTAURANT PAGE *//

.aboutus {
    background-color: rgba(0, 0, 0, 0.829);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    button {
        height: 5rem;
    }
    h4 {
        padding-top: 1rem;
    }
    h6 {
        text-decoration: underline;
    }
    img {
        height: 100%;
        width: 100%;
        margin-bottom: 3rem;
        border: 3px solid whitesmoke;
    }
    .text {
        text-align: justify;
    }
}

.map {
    background-color: rgba(0, 0, 0, 0.829);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    text-align: center;
    h4 {
        padding-top: 1rem;
    }
    iframe {
        border: 3px solid whitesmoke;
    }
}
.map-container-3{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
}
.map-container-3 iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
}


//* MENU PAGE *//

.menu {
    background-color: rgba(0, 0, 0, 0.829);
    color: whitesmoke;
    padding: 5px;
    .menu_text {
        text-align: justify;
        padding: 10px;
    }
    h4 {
        padding: 1rem;
    }
    h6 {
        text-align: center;
        color: blue;
        padding: 10px;
    }
    span {
        color: blue;
    }
    img {
        height:110%;
        width: 90%;
        border: 3px solid whitesmoke;
        margin: 10px;
    }
    ul {
        margin: 10px;
    }
}

//* GALLERIE *//

.pictures {
    background-color: rgba(0, 0, 0, 0.829);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height:  8rem;
    color: whitesmoke;
    button {
        height: 5rem;
    }
    h4 {
        padding-top: 1rem;
    }
    img {
        height: 100%;
        width: 100%;
        margin-bottom: 3rem;
        border: 3px solid whitesmoke;
    }
}

//* Contact *//

.contact {
    background-color: rgba(0, 0, 0, 0.829);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    h4 {
        padding-top: 1rem;
    }
    h6 {
        text-decoration: underline;
    }
    img {
        height: 100%;
        width: 100%;
        margin-bottom: 3rem;
        border: 3px solid whitesmoke;
    }
    .text {
        text-align: justify;
    }
    button {
        width: 7rem;
        padding: 1rem;
        margin: 1rem;
    }
}