body {
  background-image: url("/assets/img/bg_body.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'B612', sans-serif;
}

nav {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
}

.jumbotron {
  background-image: url("/assets/img/bg_jumbotron.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 12rem;
  width: 100%;
  margin-bottom: 1px;
}

.jumbotron .text {
  background-color: rgba(0, 0, 0, 0.753);
  border: 3px solid whitesmoke;
  border-radius: 10% / 15%;
  color: whitesmoke;
  padding: 0.5rem;
}

.suggestion {
  background-color: rgba(0, 0, 0, 0.829);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 8rem;
  color: whitesmoke;
}

.suggestion button {
  height: 5rem;
}

.suggestion h4 {
  margin-top: 2rem;
}

.suggestion img {
  height: 100%;
  width: 100%;
  margin-bottom: 3rem;
  border: 3px solid whitesmoke;
}

.events {
  background-color: rgba(0, 0, 0, 0.829);
  color: whitesmoke;
  padding: 5px;
}

.events .event_text {
  text-align: justify;
  padding: 20px;
}

.events h5 {
  padding: 2rem 2rem 2rem 0rem;
}

.events img {
  height: 110%;
  width: 90%;
  border: 3px solid whitesmoke;
  margin: 10px;
}

.social {
  background-color: rgba(0, 0, 0, 0.829);
  color: whitesmoke;
  line-height: 7rem;
}

.social .fa-tripadvisor {
  font-size: 40px;
  width: 60px !important;
}

.social .fa-facebook-official {
  font-size: 40px;
  width: 60px !important;
}

.social .fa-twitter-square {
  font-size: 40px;
  width: 60px !important;
}

.social .fa-instagram {
  font-size: 40px;
  width: 60px !important;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.829);
  color: whitesmoke;
  line-height: 2.5rem;
  width: 100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  margin-top: 2rem;
}

.aboutus {
  background-color: rgba(0, 0, 0, 0.829);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f5f5f5;
}

.aboutus .d-block {
  height: 250px;
}

.aboutus button {
  height: 5rem;
}

.aboutus h4 {
  padding-top: 1rem;
}

.aboutus h6 {
  text-decoration: underline;
}

.aboutus img {
  height: 100%;
  width: 100%;
  margin-bottom: 3rem;
  border: 3px solid whitesmoke;
}

.aboutus .text {
  text-align: justify;
  padding: 2rem;
}

.map {
  background-color: rgba(0, 0, 0, 0.829);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
}

.map h4 {
  padding-top: 1rem;
  margin: 1rem;
  text-align: center;
}

.map iframe {
  border: 3px solid blue;
}

.map-container-3 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-3 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.menu {
  background-color: rgba(0, 0, 0, 0.829);
  color: whitesmoke;
  padding: 5px;
}

.menu .menu_text {
  text-align: justify;
  padding: 10px;
  color: white;
}

.menu h4 {
  padding: 1rem;
  text-align: center;
  color: blue;
}

.menu h6 {
  text-align: center;
  color: black;
  padding: 10px;
}

.menu span {
  color: white;
}

.menu .allergene {
  color: blue;
  text-decoration: underline;
}

.menu img {
  height: 110%;
  width: 90%;
  border: 3px solid whitesmoke;
  margin: 10px;
}

.menu ul {
  margin: 10px;
}

.menu li {
  color: black;
}

.gallerie {
  background-color: rgba(0, 0, 0, 0.829);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  height: 680px;
}

.gallerie h4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gallerie img {
  border: 2px solid whitesmoke;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
}

.d-block {
  margin-bottom: 1rem;
}

.pagination {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contact {
  background-color: rgba(0, 0, 0, 0.829);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

.contact h4 {
  padding-top: 1rem;
}

.contact h6 {
  text-decoration: underline;
}

.contact img {
  height: 100%;
  width: 100%;
  margin-bottom: 3rem;
  border: 3px solid whitesmoke;
}

.contact .text {
  text-align: justify;
}

.contact button {
  width: 7rem;
  padding: 1rem;
  margin: 1rem;
}

.contact label {
  padding-top: 15px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */